.add {
    width: 100%;
    max-width: 1225px; 
    margin: 20px auto; 
    color: #333; 
    font-size: 14px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.list p.header {
    font-size: 18px;
    font-weight: bold;
    color: #100d0d;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.add form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add-img-upload label {
    cursor: pointer;
}

.add-img-upload img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

.add-img-upload img:hover {
    border-color: #666;
}

.add-product-name,
.add-product-description {
    width: 100%;
    max-width: 600px;
}

.add-product-name input,
.add-product-description textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
}

.add-product-description textarea {
    min-height: 100px;
    resize: vertical;
}


.add-category-price > div {
    flex: 1;
    min-width: 200px;
}

.add-category-price select,
.add-category-price input {
    width: 49%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
}

.add-btn {
    width: 100%;
    max-width: 120px;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-btn:hover {
    background-color: #555;
    transform: scale(1.05);
}
