 .container {
    padding: 20px;
  }

h1 {
  margin-bottom: 1rem;
}

/* Tab navigation styles */
.nav-pills .nav-link {
  border-radius: 0.25rem;
}

.nav-pills .nav-link.active {
  background-color: #007bff;
}

/* Table buttons */
.table-button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
  width: 100%;
}

.table-button {
  flex: 1 1 calc(33.333% - 10px); /* Adjust to 3 items per row */
  max-width: calc(33.333% - 10px);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.table-button-button {
  background-color: #d4edda;
  color: #155724;
  border: none;
  padding: 25px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  position: relative; /* Ensure positioning for spinner */
}

.table-button-button.reserved {
  background-color: #f8d7da;
  color: #721c24;
}

.table-button-button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.table-button-button.loading {
  transform: scale(0.98);
}

.table-button-reserved {
  font-size: 14px;
  color: #6c757d;
  margin-top: 5px;
  text-align: center;
}

/* Food List styles */
.food-list {
  /* Add any specific styles for the food list here */
}
